@include mobile {
  main.menu-container {
    background: $colour-darkgrey;
    position: relative;
    @include flexCenter(column);
    justify-content: center;
    section img {
      object-fit: cover;
      width: 100%;
    }
    section.rest-title {
      width: 100%;
      border-radius: 30px;
      background: $colour-darkgrey;
      position: relative;
      top: -30px;
      padding-top: 20px;
      h1 {
        padding-left: 15px;
        text-align: left;
        font-family: "shrikhand";
        font-weight: 500;
        font-size: 26px;
      }
      .rating {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 24px;
        color: $colour-icon-default;
      }
    }
    section.menu {
      padding: 15px 15px 0px 15px;
      position: relative;
      top: -30px;
      @include textCenter;
      .sub-menu {
        text-align: left;

        h3 {
          @include textStyle($colour-icon-default, 14px, 500, 24px);
        }
        hr.underline {
          border: 2px solid $colour-tertiary;
          justify-content: left;
          width: 36px;
        }

        li.item {
          animation: fadeIn 0.4s ease-in both;
          &:nth-child(1) {
            animation-delay: 0;
          }
          &:nth-child(2) {
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }

          &:hover div.check {
            visibility: visible;
            right: 0;
            i {
              // animation: check 3s;
            }
            // animation: check 1s;
          }
          position: relative;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          background-color: white;
          margin: 20px 0 20px 0;
          label {
            margin-left: 10px;
            &.menu-title {
              padding-top: 5px;
              font-weight: 700;
              font-size: 16px;
            }
            &.description {
              padding-bottom: 5px;
            }
            &.price {
              position: absolute;
              right: 20px;
              bottom: 5px;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
    section.button {
      text-align: center;
      margin-bottom: 40px;
      input[type="button"] {
        @include btn(15px 50px 15px 50px);
        @include textStyle($colour-white, 16px, 400, 20px);
      }
    }
  }
}

@include tablet {
  main.menu-container {
    background: $colour-darkgrey;
    position: relative;
    @include flexCenter(column);
    justify-content: center;
    section img {
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
    section.rest-title {
      width: 100%;
      border-radius: 30px;
      background: $colour-darkgrey;
      position: relative;
      top: -30px;
      padding-top: 20px;
      h1 {
        padding-left: 50px;
        text-align: left;
        font-family: "shrikhand";
        font-weight: 500;
        font-size: 26px;
      }
      .rating {
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 24px;
        color: $colour-icon-default;
      }
    }
    section.menu {
      padding: 15px 15px 0px 15px;
      position: relative;
      top: -30px;
      @include textCenter;
      @include flexCenter(row);
      flex-wrap: wrap;

      justify-content: space-evenly;
      .sub-menu {
        text-align: left;
        // flex: 1 1 45%;
        width: 45%;

        h3 {
          @include textStyle($colour-icon-default, 14px, 500, 24px);
        }
        hr.underline {
          border: 2px solid $colour-tertiary;
          justify-content: left;
          width: 36px;
        }
        li.item {
          position: relative;
          display: flex;
          flex-direction: row;
          border-radius: 10px;
          background-color: white;
          margin: 20px 0 20px 0;
          overflow: hidden;
          align-items: center;
          animation: fadeIn 0.4s ease-in both;
          &:nth-child(1) {
            animation-delay: 0;
          }
          &:nth-child(2) {
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }

          div.title-description {
            padding-right: 10px;
            width: 88%;
            transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

            p.menu-title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-left: 10px;
              padding-top: 5px;
              font-weight: 700;
              font-size: 16px;
            }
            p.description {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;
              margin-left: 10px;
              padding-bottom: 5px;
              font-weight: 300;
            }
          }

          &:hover div.title-description {
            width: 68%;
          }

          div.price {
            width: 5%;
            font-weight: 500;
            align-self: flex-end;
            padding-bottom: 5px;
          }

          div.check {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 20%;
            right: -20%;
            background-color: $colour-tertiary;
            height: 100%;
            transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
            visibility: visible;
            color: $colour-white;
            font-size: 20px;
          }
          &:hover div.check {
            visibility: visible;
            right: 0;

            i.fa-check-circle {
              animation: check 1s;
            }
          }
        }
      }
    }
    section.button {
      text-align: center;
      margin-bottom: 40px;
      input[type="button"] {
        @include btn(15px 50px 15px 50px);
        @include textStyle($colour-white, 16px, 400, 20px);
      }
    }
  }
}
@include desktop {
  main.menu-container {
    background: $colour-darkgrey;
    position: relative;
    @include flexCenter(column);
    justify-content: center;
    section img {
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
    section.rest-title {
      width: 100%;
      border-radius: 30px;
      background: $colour-darkgrey;
      position: relative;
      top: -30px;
      padding-top: 20px;
      h1 {
        padding-left: 50px;
        text-align: left;
        font-family: "shrikhand";
        font-weight: 500;
        font-size: 26px;
      }
      .rating {
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 24px;
        color: $colour-icon-default;
      }
    }
    section.menu {
      padding: 15px 15px 0px 15px;
      position: relative;
      top: -30px;
      @include textCenter;
      @include flexCenter(row);
      flex-wrap: wrap;
      justify-content: space-evenly;

      section.sub-menu {
        text-align: left;
        width: 30%;

        h3 {
          @include textStyle($colour-icon-default, 14px, 500, 24px);
        }
        hr.underline {
          border: 2px solid $colour-tertiary;
          justify-content: left;
          width: 36px;
        }
        ul {
          cursor: pointer;

          li.item {
            position: relative;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            background-color: white;
            margin: 20px 0 20px 0;
            overflow: hidden;
            align-items: center;
            animation: fadeIn 0.4s ease-in both;
            &:nth-child(1) {
              animation-delay: 0;
            }
            &:nth-child(2) {
              animation-delay: 0.1s;
            }
            &:nth-child(3) {
              animation-delay: 0.2s;
            }

            div.title-description {
              padding-right: 10px;
              width: 88%;
              transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

              p.menu-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-left: 10px;
                padding-top: 5px;
                font-weight: 700;
                font-size: 16px;
              }
              p.description {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                margin-left: 10px;
                padding-bottom: 5px;
                font-weight: 300;
              }
            }
            &:hover div.title-description {
              width: 68%;
            }

            div.price {
              width: 5%;
              font-weight: 500;
              align-self: flex-end;
              padding-bottom: 5px;
            }
            div.check {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              width: 20%;
              right: -20%;
              background-color: $colour-tertiary;
              height: 100%;
              transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
              visibility: visible;
              color: $colour-white;
              font-size: 20px;
            }
            &:hover div.check {
              visibility: visible;
              right: 0;

              i.fa-check-circle {
                animation: check 1s;
              }
            }
          }
        }
      }
    }
  }
  section.button {
    text-align: center;
    margin-bottom: 40px;
    input[type="button"] {
      @include btn(15px 50px 15px 50px);
      @include textStyle($colour-white, 16px, 400, 20px);
    }
  }
}
