@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wrapper {
  from {
    opacity: 0;
    overflow-y: hidden;
  }
  to {
    opacity: 1;
    overflow-y: visible;
  }
}
