@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wrapper {
  from {
    opacity: 0;  
  }
  to {
    opacity: 1;   
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes check {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes fillHeart {
  0% {
    transform: translate(30px, 0px);
    color: $colour-white;
    opacity: 0.5;
  }
  50% {
    transform: translate(30px, 0px);
    color: $colour-secondary;
    opacity: 1;
  }
  100% {
    transform: translate(30px, 0);
    color: $colour-secondary;
    opacity: 1;
  }
}
