@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wrapper {
  from {
    opacity: 0;
    overflow-y: hidden;
  }
  to {
    opacity: 1;
    overflow-y: visible;
  }
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(50%);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes check {
  from {
    transform: rotateZ(-90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes fillHeart {
  0% {
    transform: translateX(30px);
    color: linear-gradient($colour-guide-hover, $colour-secondary);
    opacity: 0;
  }
  100% {
    transform: translateX(30px);
    opacity: 1;
  }
}
