@mixin mobile {
  @media screen and (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width }) {
    @content;
  }
}

@mixin bouncer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
 
}
@mixin bouncer-ball {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) 6 alternate,
    hideLoader 3s ease-in 3s 1 forwards;
}
@mixin bouncerLoader {
  div.bouncer {
    @include bouncer;
    & div {
      @include bouncer-ball;
    }
    & div:nth-child(1) {
      background: $colour-primary;
      animation-delay: 0.1s;
    }
    & div:nth-child(2) {
      background: $colour-secondary;
      animation-delay: 0.2s;
    }
    & div:nth-child(3) {
      background: $colour-tertiary;
      animation-delay: 0.3s;
    }
  }
}

@mixin textCenter {
  text-align: center;
}
@mixin textStyle($text-color, $font-size, $font-weight, $line-height) {
  color: $text-color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin restItem($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}
@mixin btn($padding) {
  padding: $padding;
  border-radius: 30px;
  background: linear-gradient($colour-secondary, $colour-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: none;
  // background-color: $colour-primary;
  &:hover {
    background: linear-gradient(
      lighten($colour-secondary, 5%),
      lighten($colour-primary, 5%)
    );
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@mixin rating {
  cursor: pointer;
  font-size: 24px;
  &:hover i.fas.fa-heart.back {
    animation: fillHeart 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
    visibility: visible;
  }
  &:hover i.far.fa-heart.front {
    visibility: hidden;
  }
  i.far.fa-heart.front {
    visibility: visible;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $colour-icon-default;
  }
  i.fas.fa-heart.back {
    visibility: hidden;
  }
}

@mixin liItem {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  margin: 20px 0 20px 0;
  overflow: hidden;
  align-items: center;
  animation: fadeIn 0.4s ease-in both;
}

@mixin divCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20%;
  right: -20%;
  background-color: $colour-tertiary;
  height: 100%;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  color: $colour-white;
  font-size: 20px;
}
@mixin pDescrition {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-left: 10px;
  padding-bottom: 5px;
  font-weight: 300;
}

@mixin pMenuTitle {
  white-space: wrap;
  margin-left: 10px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 16px;
}

@mixin restTitle {
  width: 100%;
  border-radius: 30px;
  background: $colour-darkgrey;
  position: relative;
  top: -30px;
  padding-top: 20px;
}
