$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-grey: #f6f6f6;
$colour-darkgrey: #eaeaea;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-footer: #353535;
$colour-icon-default: #919191;
$colour-guide-hover: #f5edff;
$colour-new-background: $colour-tertiary;
$colour-new-text: #078b6b;

$font-weights: (
  "regular": 100,
  "medium": 500,
  "bold": 700,
);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
